<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= @cocktail.ingredients %>
  </p>

  <% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %></p>
  <p><%= dose.ingredient.name %></p>
  <% end %>
  <hr>

  <div class="container mt-5 mb-5">
    <h1>New Dose for <%= @cocktail.name %></h1>

    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <div class="form-inputs">
        <%= f.input :description %>
        <%= f.input :ingredient, collection: @ingredients %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>



  <%= link_to 'Back', cocktails_path, class: "btn btn-primary"%>

</div>
