<div class="container mt-5">
  <p id="notice"><%= notice %></p>

    <h1><strong><%= @cocktail.name %></h1></strong>

  <p>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>Desciption: <%= dose.description %></li>
      <li>Ingredient: <%= dose.ingredient.name %></li>
      <br>
    <% end %>
    </ul>
  <hr>
  </p>


  <div class="container mt-5 mb-5">
    <h3>What shall we add for <%= @cocktail.name %> 🍹 ?</h3>

    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <div class="form-inputs">
        <%= f.input :description %>
        <%= f.association :ingredient %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>



  <%= link_to 'Back', cocktails_path, class: "btn btn-primary"%>

</div>
